/PrototipoSIC/nbproject/private/
/PrototipoSIC/build/
/PrototipoSIC/dist/
/Lista Encadeada PrototipoSIC/ListaEncadeadaPrototipoSIC/nbproject/private/
/Arvore Digital PrototipoSIC/ArvoreDigitalPrototipoSIC/nbproject/private/
/Arvore Digital PrototipoSIC/ArvoreDigitalPrototipoSIC/build/
/Lista Encadeada PrototipoSIC/ListaEncadeadaPrototipoSIC/build/

/Tabela de dispersão PrototipoSIC/TabelaDispersaoPrototipoSIC/build/
/Tabela de dispersão PrototipoSIC/TabelaDispersaoPrototipoSIC/dist/

/Árvore binária de busca PrototipoSIC/ABBPrototipoSIC/build/
/ABBPrototipoSIC/ABBPrototipoSIC/build/
/ABBPrototipoSIC/ABBPrototipoSIC/nbproject/private/

/Lista Encadeada PrototipoSIC/ListaEncadeadaPrototipoSIC/dist/
/Árvore AVL PrototipoSIC/ArvoreAVLPrototipoSIC/build/
/ABBPrototipoSIC/ABBPrototipoSIC/dist/
/Arvore Digital PrototipoSIC/ArvoreDigitalPrototipoSIC/dist/
/ArvoreBPrototipoSIC/ArvoreBPrototipoSIC/dist/
